body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.infinite-scroll-component {
  background-color: lightgrey;
}

.textAlignCenter {
  text-align: center;
}

.mainDivStyle {
  background-color: lightgrey;
  text-align: center;
}

.formControlStyle {
  width: 100%;
}

.flexDivRow {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.label {
  align-self: center;
  margin-right: 5px;
}

.gridWrapperDiv {
  padding: 15px;
}

.gridItem {
  width: 100%;
  padding: 10px 10px;
}

.itemWrapperDiv {
  display: flex;
  flex-direction: column;
}

.itemImage {
  border-radius: 15px 15px 0px 0px;
}

.nameWrapperDiv {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}